:root{
  --x: #f96f56;
  --y: #2c2b30;
  --z: #d6d6d6;
}
*{
  font-style: italic;
  font-family: sans-serif;
}
*::selection{
  color: var(--x) ;
  background-color: white;
}
body{
  background-color: var(--z);

}
h3 a {
    position: absolute;
    top:50%;
    display: inline-block;
    color:var(--z);
    text-decoration: none;
    font-family: fantasy;
    font-size: 1.9vw;
    font-weight:100;
    width: 20%;
    height: 75%;
    margin-top: -2.35vw;
    padding: 1.1vw 0 .25vw 1vw ;
    z-index: 1;
    transition-duration: .5s;
    transition-property: color;
    }
h3 a:hover{
  border-left: 4px solid var(--x);
  color: var(--x);
  transition-property: color;
  transition-duration: .7s;
}
nav {
  height:4.5vw;
  background-color: var(--y);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  overflow: hidden;
}
nav li a{
  position:relative;
   display: block;
   text-align: center;
   padding: 1.5vw 1.1vw;
   font-size: 1.1vw;
   letter-spacing: 1.3px;
   color: var(--z);
   text-decoration: none;
   transition-property: color,transform;
   transition-duration: 0.3s;
   font-style: normal;
}
nav li a:hover{
  color: var(--x);
  transform: translateY(5px);
}
nav li {
  float: left;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}


.it{
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--y);
  border: 4px solid var(--y);
  border-radius: 7px;
  position: absolute;
  min-width: 120px;
  top: calc(100% + 15px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
.it::before{
  content: "";
  border: 10px solid;
  border-color: transparent  transparent var(--y) transparent ;
  position: absolute;
  top: -20px;
  right: 30px;
}
.it li{
  display: block;
  float: none;
  padding: 10px;
  color: var(--z);
  text-transform: capitalize;
  transition: .3s;
  cursor: pointer;
  font-family:  "Font Awesome 6 Free";
  font-style: normal;
  letter-spacing: 4px;
}
.it li:not(:last-child)  {
  border-bottom: 1px solid #4f4d5c;
}
.it li:hover{
  padding-left: 25px;
  color: #f96f56
}
.coin{
  position: relative;
  display: inline-block;
  cursor: default;
  z-index: 2;
}
.coin:hover .it{
  display: block;
}

/* side bar */

.side ul{
  position: absolute;
  padding-top: 3%;
  top:0 ;
  left: -8vw;
  list-style: none;
  background-color: var(--y);
  width: 16.5vw;
  height: 137vw;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.side li a {
  display: block;
  padding: 1.3vw 0 1.3vw 6.6vw;
  font-size: 1.3vw;
  color: var(--z);
  text-decoration: none;
  transition-duration: 0.6s;
  font-style: normal;
  text-transform: capitalize;
  word-spacing: 9px;
}
.side i {
  transition-duration: .6s;
}
.side li a:hover{
  background-color: var(--z);
  color: var(--y);
}
.side li a:hover i{
  transform: rotateY(360deg);
}
/* search bar */

.se{
  position: fixed;
  top: 1vw;
  left: 27%;
  font-family: sans-serif;
  font-style: normal;
  font-size: 1.5vw;
  width: 30%;
  border: 2px solid var(--y) ;
  border-radius: .6vw ;
  color: var(--y);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  padding-left: 1%;
  outline: none;
}
.me{
  position: fixed;
  top: 1.1vw;
  left: 57.4%;
  font-size: 1.5vw;
  font-family: monospace;
  font-style: normal;
  border: 2px solid var(--x) ;
  border-radius: 20px;
  background-color: var(--y);
  color: var(--x);
  text-decoration: none;
  width: 6%;
  transition-duration: 0.4s;
  z-index: 1;
  overflow: hidden;
}
.me:hover {
  background-color: var(--x);
  color: #2c2b30;
  border-color: var(--x);
}
.me::before{
  background: var(--x);
  content: "";
  width: 100%;
  height: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition-duration: .6s;
  transform: translate(-50%,-50%)rotate(-45deg);
}
.me:hover::before{
  height: 380%;
}

::placeholder{
  padding-left: 20%;
  font-size: 1.35vw;
}
/* the content */
.things{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 5%;
  margin-left: 12.5%;
  margin-right: .5%;
}

/* info */

.mark{
  filter: grayscale(100%);
  cursor: pointer;
  transition-duration: .4s;
  visibility: hidden;
  margin: 5px 0 0 5px ;
  width: 10%;
}
.mark:hover{
  filter: grayscale(0);
}
.t:hover .mark{
  visibility: visible;
}
.x{
  display: inline;
}
.x:hover .info{
  max-height: 17.2vw;
}
.phone{
  margin-top: -4px;
}
.info {
  background-color: white;
  position: absolute;
  max-width:15vw;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  margin-left:-3px;
  padding: 0 22px;
  transition: .4s;
  color: var(--y);
  font-family: fantasy;
  font-style: normal;
}

div.t  {
  width: calc(88%/4);
  border: 3px solid white;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2%;
}
div.container {
  text-align: center;
  padding: 4% 8%;
}
.buy {
font-size: 1.1vw;
font-family: serif;
font-weight: 700;
border: 2px solid var(--y) ;
background-color: var(--y);
color: var(--z);
text-decoration: none;
transition-duration: 0.4s;
width: 102%;
margin-top: -50%;
}
.buy:hover{
  background-color: var(--z);
  color: var(--y);
}
.p {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-style: normal;
  font-family: fantasy;
  font-size: 1.5vw;
  color: var(--y);
  background-color: var(--x);
  border: 2px solid var(--x);
  display: block;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.p::selection{
  color: var(--x);
  background-color: var(--y);
}
.ph{
  text-decoration: none;
  color: var(--y);
  font-style: normal;
  font-family: sans-serif;
  font-size: 1.3vw;
  text-transform: capitalize;
  overflow: hidden;
}
.things .b {
  margin: 0 0 4%;
  width: 100%;
  background-color: var(--x);
  border: 2px solid var(--x);
  border-radius: 0 0 7px 7px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.things .b a{
  font-weight: 700;
  font-style: normal;
  color: var(--y);
}
.cr p {
  position: absolute;
  top:127vw;
  left: 33%;
  text-align: center;
  margin: 110px;
  color: var(--x);
  font-family: fantasy;
  font-style: normal;
  text-transform: capitalize;
}
.price{
  color: var(--z)
}
.select{
  background-color: var(--x);
}
.select:hover{
  background-color: var(--x);
  color: var(--z);
}
